html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: url("../assets/imgbg.jpeg") center center no-repeat;
    background-size: cover;
    height: 100vh;
}

.card {
    margin: 1em auto;
    background-color: rgba(255, 255, 255, 0); /* Fundo translúcido */
    border: 3px solid #0f327c;
    padding: 44px;
    border-radius: 8px;
}

.container-fluid {
    flex: 1;
}

footer {
    display: block;
    text-align: center;
    font-weight: bolder;
    background-color: transparent;
    color: navy;
    position: relative;
    width: 100%;
    margin-top: auto;
}
