{% extends "base.html" %}

{% block title %}Pagamento{% endblock %}

{% block content %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Seu Carrinho</h1>
                <p class="lead fw-normal text-white-50 mb-0">Revise seus itens antes de finalizar a compra</p>
            </div>
        </div>
    </header>

    <section>
        <h1>Pagar com PIX</h1>
        <p>Total a pagar: R$ {{ total_price }}</p>

        <form action="{{ url_for('confirm_payment') }}" method="POST">
            <button type="submit">Confirmar Pagamento via PIX</button>
        </form>

    </section>
{% endblock %}
